.main_container_for_log {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30rem;

}

.input_fileds {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 25px;
    width: 250px;
    height: 73%;
    padding: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: larger;
}
